.custom_qty {
    width: 100%;
    margin-top: 20px;
}

.custom_qty table {
    border-collapse: separate;
    border-spacing: 10px 0px;
}

.custom_qty table td {
    padding: 10px 0px !important;
    text-align: center !important;
    vertical-align: middle;
}

.custom_qty .per_qty {
    font-size: 11px;
}

.custom_qty .product_price_basic {
    border: #bfbfbf solid 1px;
    width: 33%;
    cursor: pointer;
}

.custom_qty .product_price_basic b {
    font-size: 1.1em;
}

.custom_qty .product_price_basic:hover {
    background-color: #fff6e1;
}

.custom_qty .product_price_top {
    border: #f3ca66 solid 1.5px;
    width: 33%;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff6e1;
    cursor: pointer;
}
.custom_qty .product_price_topb {
    font-size: 1.1em;
}

.custom_qty .product_price_top_up {
    padding: 0;
}

.custom_qty .BEST-SELLER {
    font-size: 11px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: center;
    background-color: #f3ca66;
    color: #232f3e;
    padding: 2px 0 0 0 !important;
}

.selects{
    visibility: hidden;
}
