/* Offer bottom */
.single-product .offer-bottom {
    position: fixed;
    bottom: 0;
    height: 50px;
    z-index: 10;
    width: 100%;
    background: rgba(255,255,255,0.9);
    border-top: 1px solid;
}
.single-product .offer-bottom .col-1, .single-product .offer-bottom .col-2, .single-product .offer-bottom .col-3 {
    display: inline-block;
}
.single-product .offer-bottom .col-1 {
    width: 33%;
}
.single-product .offer-bottom .col-2 {
    width: 33%;
}
.single-product .offer-bottom .col-3 {
    width: 33%;
}
.single-product .offer-bottom .regular-price .amount {
    text-decoration: line-through;
    font-size: 23px;
    color: #929292;
}
.single-product .offer-bottom .regular-price.no-sale .amount {
    text-decoration: initial;
    color: red;
}
.single-product .offer-bottom .sale-price .amount {
    color: red;
    font-size: 30px;
    line-height: 30px;
}
.single-product .offer-bottom button {
    background-color: #ffa401;
    color: #fff;
    margin-top: 5px;
}

.nav-dark .nav>li>a {
    color: #383838 !important;
}
.single-product .price-wrapper {
    display: none;
}
.new-product-price {
    text-align: center;
}
.new-product-price div {
    display: inline-block;
}
.new-product-price .regular-price {
    margin-right: 20px;
}
.new-product-price .regular-price, .new-product-price .regular-price .amount {
    color: #666;
}
.new-product-price .regular-price .amount {
    text-decoration: line-through;
    font-size: 23px;
    color: #929292;
}
.new-product-price .sale-price {
    color: red;
}
.new-product-price .sale-price .amount {
    color: red;
    font-size: 30px;
    line-height: 30px;
}
.product-summary .new-product-price .woocommerce-Price-currencySymbol {
    vertical-align: middle !important;
}

/* Product comments */
.comments-single-product .comment-text {
    font-size: 14px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: #666;
}
.comments-single-product .comment-author {
    color: #666;
    font-weight: 400;
    font-style: italic;
    font-size: 12px;
}
.comments-single-product .comment-author span {
    color: #a5a5a5;
}
.comments-single-product i {
    color: #f0c808;
}
.comments-single-product h3 {
    font-size: 18px;
    font-weight: 500;
    color: #20283d;
    margin-bottom: 0;
}
.comments-single-product .total-rating {
    font-size: 13px;
    color: #666;
    margin-left: 5px;
}

/* Order now text */
.single-product .order-now-text {
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 20px;
    border: 1px dashed #c7c7c7;
    text-align: center;
    padding: 10px;
    background: #fdfdfd;
}
.single-product .header-top .order-now-text {
    border: none;
    color: #fff;
    background: #FFA401;
    width: 330px;
    margin: 0 auto;
    margin-top: 0;
    padding: 5px;
    font-size: 13px;
    text-transform: initial;
}
div.wc-sticky-product-bar {
    background-color: rgba(255, 255, 255, 0.85);
    border-top: 1px solid #000;
}
.wc-sticky-product-bar .name span, .wc-sticky-product-bar .price .woocommerce-Price-amount {
    color: #000 !important;
}
.wc-sticky-product-bar .price {
    background-color: transparent;
}

.kolicina-buttons button {
    border-radius: 3px;
}
.kolicina-buttons button:hover {
    background-color: rgba(255, 164, 1, 0.48) !important;
    color: #000 !important;
}
.kolicina-buttons button:hover .izbira-popust {
    color: #000 !important;
}
.kolicina-buttons #izbira1 .mega-value {
    position: absolute;
    top: -24px;
    width: 100%;
    left: 0;
    text-transform: uppercase;
    background-color: #ffb518;
    color: #fff;
    font-size: 13px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.kolicina-buttons .izbira-active .izbira-popust {
    color: #fff;
}
.page-template-template-landingpage .kolicina-buttons #izbira1 .mega-value {
    font-size: 10px;
}
.page-template-template-landingpage .currently-viewing-product {
    display: none;
}
.page-template-template-landingpage .single-product .quantity {
    display: none;
}
.page-template-template-landingpage .currently-viewing-product {
    display: none;
}
.page-template-template-landingpage .single-product .quantity {
    display: none;
}

.page-template-template-landingpage.landing-v5 .row-main {
    max-width: 600px !important;
}
.page-template-template-landingpage.landing-v5 #masthead {
    background-color: #000;
}
.page-template-template-landingpage.landing-v5 .kolicina-buttons,
.page-template-template-landingpage.landing-v5 .price span.brezplacna-postnina,
.page-template-template-landingpage.landing-v5 .qty {
    display: none !important;
}
.page-template-template-landingpage.landing-v5 .input-text.qty {
    display: block !important;
}
.page-template-template-landingpage.landing-v5 .price .amount {
    color: #49e4d6;
}
.page-template-template-landingpage.landing-v5 .product .single_add_to_cart_button.button {
    background-color: transparent !important;
    max-width: 250px;
    font-size: 18px;
    border-radius: 0;
    margin-top: 0;
}
.page-template-template-landingpage.landing-v5 .button-add-to-cart-custom {
    width: 100% !important;
    max-width: 100% !important;
}
.page-template-template-landingpage.landing-v5 .button-add-to-cart-custom a {
    width: 100%;
}
.page-template-template-landingpage.landing-v5 #top-bar {
    display: none;
}
.page-template-template-landingpage.landing-v5 .fa-check {
    background: #49e4d6;
    border-radius: 50%;
    padding: 5px;
}
.page-template-template-landingpage.landing-v5 .quantity.buttons_added {
    margin-left: calc(50% - 40px);
    margin-top: 20px;
}
.page-template-template-landingpage.landing-v5 .elementor-icon-list-icon {
    width: auto !important;
}
.page-template-template-landingpage.landing-v5 .product .single_add_to_cart_button.button:after {
    background-image: url(/wp-content/uploads/2019/10/LANDING-PAGE1-GUMB-HU.png);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.page-template-template-landingpage.landing-v5.black .product .single_add_to_cart_button.button:after {
    display: none;
}
.page-template-template-landingpage.landing-v5.black .product .single_add_to_cart_button.button {
    border: 3px solid #2d2d2d;
    color: #2d2d2d !important;
    height: auto;
    background-color: #fff !important;
    border-radius: 5px;
}
.page-template-template-landingpage.landing-v5.black .price .amount {
    color: #fff;
    text-shadow: 1px 1px #000;
    font-size: 28px;
}
.page-template-template-landingpage.landing-v5.black .fa-check {
    background: #2d2d2d;
}

.page-template-template-landingpage.landing-v5.rose #masthead {
    background-image: url(/wp-content/uploads/2019/10/LANDING-PAGE3-BORDER.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.page-template-template-landingpage.landing-v5.rose .product .single_add_to_cart_button.button:after {
    background-image: url(/wp-content/uploads/2019/10/LP3-HS-GUMB-HU.png);
}
.page-template-template-landingpage.landing-v5.rose .price .amount {
    color: #ff914a;
}
.page-template-template-landingpage.landing-v5.rose .fa-check {
    background: #e97697;
}

.page-template-template-landingpage.landing-v5.violet #masthead {
    background-image: url(/wp-content/uploads/2019/10/LANDING-PAGE3-BORDER.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.page-template-template-landingpage.landing-v5.violet .product .single_add_to_cart_button.button:after {
    background-image: url(/wp-content/uploads/2019/10/LP4-GUMB-HU.png);
}
.page-template-template-landingpage.landing-v5.violet .price .amount {
    color: #000;
}
.page-template-template-landingpage.landing-v5.violet .fa-check {
    background: #d7dbe7;
}

.page-template-template-landingpage.landing-v6 .product .single_add_to_cart_button.button:after {
    display: none;
}
.page-template-template-landingpage.landing-v6 .product .single_add_to_cart_button.button {
    border: none;
    color: #000 !important;
    height: auto;
    background-color: #E5AF00 !important;
    border-radius: 0;
}
.page-template-template-landingpage.landing-v6 .kolicina-buttons button {
    background-color: #d1c3b6 !important;
    border-radius: 0 !important;
    width: 100px !important;
    font-size: 14px !important;
}
.page-template-template-landingpage.landing-v6 .product .izbira-active {
    background-color: #615346 !important;
}
.page-template-template-landingpage.landing-v6 .product .single_add_to_cart_button.button {
    font-size: 16px;
    max-width: 300px;
    float: left;
}
.page-template-template-landingpage.landing-v6 .select-buttons li:first-child a {
    background-color: transparent;
}
.page-template-template-landingpage.landing-v6.black.normal-width .row-main {
    max-width: 1050px !important;
}
.page-template-template-landingpage.landing-v6.black .product .single_add_to_cart_button.button:after {
    display: none;
}
.page-template-template-landingpage.landing-v6.black .kolicina-buttons button {
    background-color: #fff !important;
    border-radius: 0 !important;
    width: 100px !important;
    font-size: 14px !important;
}
.page-template-template-landingpage.landing-v6.black .product .izbira-active {
    background-color: #000 !important;
    color: #fff !important;
}
.page-template-template-landingpage.landing-v6.black .product .single_add_to_cart_button.button {
    border: 3px solid #000;
    color: #000 !important;
    height: auto;
    background-color: #fff !important;
    border-radius: 5px;
    margin-top: 0;
}
.page-template-template-landingpage.landing-v6.black .price .amount {
    color: #2d2d2d;
}
.page-template-template-landingpage.landing-v6.black .fa-check {
    background: #2d2d2d;
    border-radius: 50%;
    padding: 4px;
}
.page-template-template-landingpage.landing-v6.black .elementor-icon-list-icon {
    width: auto !important;
}

.page-template-template-landingpage.landing-v6.white .price .brezplacna-postnina,
.page-template-template-landingpage.landing-v6.white .qty,
.page-template-template-landingpage.landing-v6.white .variation-title
 {
    color: #fff;
}
.page-template-template-landingpage.landing-v6.white .price .amount {
    color: #e5af00;
}
.page-template-template-landingpage.landing-v6.white .select-buttons a {
    background-color: #E5AF00;
    color: #000;
}
.page-template-template-landingpage.landing-v6.white .select-buttons a.picked {
    background-color: #fff;
    color: #000;
}
.page-template-template-landingpage.landing-v6.white .select-buttons a {
    border-radius: 0;
    border: 1px solid;
}
.page-template-template-landingpage.landing-v6.white .select-buttons li:first-child {
    display: none;
}
.page-template-template-landingpage.landing-v6.white .product .price {
    text-align: left;
}
.page-template-template-landingpage.landing-v6.white .kolicina-buttons button {
    background-color: #fff !important;
    border-radius: 0 !important;
    width: 100px !important;
    font-size: 14px !important;
}
.page-template-template-landingpage.landing-v6.white .product .izbira-active {
    background-color: #e5af00 !important;
    color: #fff !important;
}
.page-template-template-landingpage.landing-v6.white .elementor-toggle {
    text-align: center;
}
.page-template-template-landingpage.landing-v6.white .counter .counter-box > div,
.page-template-template-landingpage.landing-v6.white .counter .counter-box .title {
    background-color: #fff;
}
.page-template-template-landingpage.landing-v6.white .wcbv-total-price {
    display: none !important;
}

.page-template-template-landingpage.landing-v4.straightener, .page-template-template-landingpage.landing-v4.straightener .content-area * {
    font-family: 'Raleway', sans-serif !important;
}
.page-template-template-landingpage.landing-v4.straightener .fa, .page-template-template-landingpage.landing-v4.straightener .fas {
    font-family: "Font Awesome 5 Free" !important;
}
.page-template-template-landingpage.landing-v4.straightener .elementor-slick-slider .slick-arrows-inside .slick-prev {
    left: -5px !important;
}
.page-template-template-landingpage.landing-v4.straightener .elementor-slick-slider .slick-arrows-inside .slick-next {
    right: 10px !important;
}
.page-template-template-landingpage.landing-v4.straightener .product .izbira-active,
.page-template-template-landingpage.landing-v4.straightener .kolicina-buttons #izbira1 .mega-value {
    background-color: #E3B76D !important;
    color: #fff !important;
}
.page-template-template-landingpage.landing-v4.straightener .product .single_add_to_cart_button.button {
    background-color: #F67979!important;
}
.page-template-template-landingpage.landing-v4.straightener .counter .counter-box .title {
    display: none;
}
.page-template-template-landingpage.landing-v4.straightener .counter .counter-box>div {
    background-color: transparent;
    color: #fff;
    height: auto;
    line-height: auto;
}
.page-template-template-landingpage.landing-v4.straightener .counter {
    width: 320px;
}
.page-template-template-landingpage.landing-v4.straightener .counter .counter-box {
    border: none;
}
.page-template-template-landingpage.landing-v4.straightener .counter .counter-box .num {
    background-color: #454545;
    font-size: 32px;
    line-height: 45px;
    border-radius: 5px;
    margin: 0 3px;
    position: relative;
    width: 28px;
    height: 50px;
    display: inline-block;
}
.page-template-template-landingpage.landing-v4.straightener .product-summary .user-ratings img {
    max-width: 100px;
    margin-left: 40px;
}
.page-template-template-landingpage.landing-v4.straightener .product-summary .user-ratings span {
    font-size: 14px;
}
.page-template-template-landingpage.landing-v4.straightener .elementor-progress-wrapper {
    height: auto;
}
.page-template-template-landingpage.landing-v4.straightener .header-wrapper, .page-template-template-landingpage.landing-v4.straightener .header-bg-color {
    background-color: #E3B76D;
}
.page-template-template-landingpage.landing-v4.straightener .fixed-bottom {
    position: fixed;
    bottom: 0px;
    z-index: 10;
    width: 100%;
    left: 0;
    right: 0;
}
.page-template-template-landingpage.landing-v4.straightener .product-title {
    display: none;
}
.page-template-template-landingpage.landing-v4.straightener .woocommerce-Price-amount.amount {
    font-size: 36px;
}
.page-template-template-landingpage.landing-v4.straightener .fixed-bottom .woocommerce-Price-amount {
    font-size: 26px;
    margin-left: 10px;
}
.page-template-template-landingpage.landing-v4.straightener del .woocommerce-Price-amount.amount {
    font-size: 16px;
}
.page-template-template-landingpage.landing-v4.straightener .product .single_add_to_cart_button.button {
    height: 60px !important;
    font-size: 22px;
}
.page-template-template-landingpage.landing-v4.straightener .product-page-price {
    text-align: right;
    margin-top: 0;
}
.page-template-template-landingpage.landing-v4.straightener .brezplacna-postnina, .page-template-template-landingpage.landing-v4.straightener .order-now-text {
    display: none;
}
.page-template-template-landingpage.landing-v4.straightener .currently-viewing {
    margin-top: 1px !important;
    margin-bottom: 1px;
    text-align: right;
}
.page-template-template-landingpage.landing-v4.straightener .header-top {
    background-color: #000 !important;
}
.page-template-template-landingpage.landing-v4.straightener #chat-widget-container {
    left: -10px !important;
    right: auto !important;
    bottom: -10px !important;
}
.page-template-template-landingpage.landing-v4.straightener .accordion .elementor-tab-title {
    text-align: center;
}

.select2Buttons .brown, .select2Buttons .brown:hover {
    background-color: #5c4033;
}
.select2Buttons .blonde, .select2Buttons .blonde:hover {
    background-color: #f5f5dc;
}

.order-bump-carousel {
    margin-bottom: 30px;
}
.order-bump-carousel .owl-nav {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    margin-left: 30px;
    margin-top: -15px;
}
.order-bump-carousel .owl-nav button {
    margin-bottom: 0;
    position: absolute;
    top: 40%;
}
.order-bump-carousel .owl-nav button.owl-prev {
    left: -20px;
}
.order-bump-carousel .owl-nav button.owl-next {
    right: -50px;
}
.order-bump-carousel .owl-dots {
    display: none;
}
.woocommerce-checkout .sm-touch-scroll {
    overflow: inherit;
}

body.hide-price .product-page-price {
    display: none;
}
body.hide-price #izbira1, body.hide-price #izbira2, body.hide-price #izbira3 {
    text-transform: inherit;
}
.brezplacna-postnina {
    color: #000;
}

/* Cart header */
.cart-header {
    margin-bottom: 50px;
    display: inline-block;
    width: 100%;
}
.cart-header a {
    width: 19%;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    float: left;
    line-height: 16px;
}
.cart-header hr {
    width: 20%;
    display: inline-block;
    float: left;
}
.cart-header a .step {
    display: block;
    text-align: center;
    width: 30px;
    height: 30px;
    margin-left: calc(50% - 15px);
    background: #d4d4d4;
    color: #fff;
    border-radius: 50%;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 10px;
}
.cart-header a.current .step {
    background: #FFA401;
}
.cart-header a.hide-for-small {
    display: inline-block !important;
}
.wfob_pro_img_wrap {
    width: 60px !important;
    margin-right: 10px !important;
    float: left !important;
}
.wfob_pro_txt_wrap p {
    font-size: 13px !important;
    color: #000 !important;
    line-height: 14px !important;
}
body #wfob_wrap .wfob_bgBox_table .wfob_bgBox_cell.wfob_img_box {
    width: 20px !important;
}

/* Cart Items */
.cart-box {
    border: 1px solid #c2c2c2;
    padding: 10px 15px;
    margin-bottom: 5px;
}
.cart-box.no-border {
    border: 1px solid #ddd;
    background: #f3f3f3;
    border-radius: 5px;
    font-size: 18px !important;
}
.cart-box.checked {
    border-color: #80c455;
}
.cart-box .check-icon {
    width: 18px;
    vertical-align: initial;
}
.cart-box .column {
    display: inline-block;
    vertical-align: middle;
}
.cart-box .col-1 {
    width: 30px;
}
.cart-box .col-2 {
    width: 20%;
}
.cart-box .col-3 {
    width: 60%;
}
.cart-box div.checkbox {
    width: 15px;
    height: 15px;
    background-color: #c2c2c2;
    border-radius: 50%;
}
.cart-box.checked div.checkbox {
    background-color: #80c455;
}
.cart-box .payment_box {
    display: block !important;
}
.cart-box h4 {
    font-size: 20px;
}
.cart-box p {
    font-size: 20px;
}
.cart-box.no-border .col-3 p {
    font-size: 16px;
}
.cart-box.no-border .col-2 {
    width: 38% !important;
    text-align: right;
}
.wc_payment_method label {
    font-size: 18px;
    margin-bottom: 0;
    font-weight: normal;
}

.woocommerce-cart #chat-widget-container, .woocommerce-checkout #chat-widget-container {
    display: none !important;
}
.woocommerce-checkout .remove {
    display: inline-block;
}
.woocommerce-checkout .product-name {
    padding-top: 20px;
}
.cart-box .cart-totals .new-price, .woocommerce-cart-form .new-price {
    display: block;
    color: red !important;
    font-size: 14px;
}
.woocommerce-checkout .add-additional-item, .woocommerce-cart .free-shipping-item {
    background-color: #fff6e1;
    border: 1px solid #f3ca66;
    border-radius: 5px;
    color: #000;
    padding: 10px 10px;
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 500px;
    max-width: 100%;
    text-align: center;
}
.woocommerce-checkout .add-additional-item a, .woocommerce-cart .free-shipping-item a {
    padding: 10px 20px;
    margin-left: 20px;
    background: #f3ca66;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    transition: all 0.5s;
}
.woocommerce-cart .free-shipping-item a {
    margin-left: 0;
    margin-top: 10px;
}
.woocommerce-checkout .add-additional-item a:hover, .woocommerce-cart .free-shipping-item a:hover {
    background: #f7bc2c;
}
.woocommerce-checkout .display-comments-box label {
    font-weight: normal;
    font-size: 15px;
}
.woocommerce-checkout #order_comments_field {
    display: none;
}
.woocommerce-checkout th.product-name {
    text-align: right;
}
.woocommerce-checkout .total-text-mobile {
    display: none;
}
.woocommerce-billing-fields {
    border-top: none !important;
    padding-top: 0 !important;
}
form.checkout .woocommerce-billing-fields h3 {
    font-size: 25px;
    text-transform: initial;
}
form.checkout .display-comments-box span, form.checkout #ship-to-different-address span {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
}
form.checkout h3 {
    font-size: 22px !important;
    text-transform: initial !important;
    font-weight: normal !important;
}
.woocommerce-billing-fields__field-wrapper input {
    margin-bottom: 5px;
}
.woocommerce-checkout .button#place_order {
    margin-top: 20px;
}

.woocommerce-checkout .total-text-mobile {
    display: none;
}
.wfob_wrapper .wfob_bump {
    border-radius: 5px;
}
.woocommerce-checkout .wfob_bump_wrapper {
    margin-bottom: 15px;
}
.wfob_wrapper .wfob_bump {
    border-radius: 5px;
}
.wfocu-buy-block .wfocu-skip-offer-link {
    font-size: 18px !important;
    font-weight: bold;
    color: #fff !important;
    background-color: red;
    padding: 15px 5px;
    border-radius: 5px;
    text-decoration: none;
}
.woocommerce-checkout #customer_details {
    margin-bottom: -35px;
}
.woocommerce-checkout #ship-to-different-address {
    margin-bottom: 0;
}
.woocommerce-checkout .wfob_price_container {
    float: right;
    margin-right: 10px;
}
.woocommerce-checkout .insurance-desc {
    font-size: 13px;
    line-height: 13px;
    display: inline-block;
}

/* Product description */
.product-short-description .whiteFont {
    display: none;
}
.product-summary .user-ratings {
    margin-bottom: 20px;
    text-align: center;
}
.product-summary .user-ratings img {
    max-width: 100px;
}
.product-summary .user-ratings span {
    font-size: 14px;
    color: #000;
    vertical-align: middle;
    padding-left: 10px;
    display: inline-block;
}
body.single-product .product-page-price ins span.amount, body.single-product .product-page-price .brezplacna-postnina, body.single-product .product-page-price span.amount {
    color: red;
    font-weight: 700;
}
body.single-product .product-page-price del span.amount {
    font-size: 18px;
    color: #666;
    font-weight: normal;
}
body.single-product .product-page-price span.amount {
    font-size: 30px;
}
body.single-product form.cart .quantity {
    display: none;
}
body.single-product .product-main {
    padding-bottom: 0;
}
.checkout .button#place_order, .wc-proceed-to-checkout .checkout-button {
    color: #fff !important;
    background-color: #FFA401 !important;
}
.checkout .cart_item .quantity {
    display: none;
}
.after-addtocart {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 20px;
}
.after-addtocart .col {
    padding: 0 10px;
}
.after-addtocart span {
    font-size: 11px;
    line-height: 12px;
    display: block;
    margin-top: 5px;
}

.home .box-text-products .title-wrapper, .home .box-text-products form {
    display: none;
}
.home .box-text-products .price-wrapper {
    height: 42px;
}
.single-product .flickity-button {
    opacity: 0.8;
    background: #fff;
    color: #000;
    height: 50px;
    margin-top: 30px;
}
.button, button, input[type='submit'], input[type='reset'], input[type='button'] {
    -ms-touch-action: initial !important;
    touch-action: initial !important;
}

/* Footer badges */
.footer-badges {
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid #f4f4f4;
    background-color: #f6f6f6;
}
.footer-badges img {
    max-width: 80px;
}
.footer-badges p {
    color: #000 !important;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 14px;
    margin-top: 10px;
    margin-bottom: 0;
}
.footer-badges .col {
    padding-bottom: 0;
}

.footer-2 {
    background-color: #fff !important;
    text-align: center;
}
.footer-2 p, .footer-2 .widget-title {
    color: #000 !important;
}
.footer-2.dark .payment-icon {
    background-color: #000;
}
.footer-2 .phone, .footer-2 .mail {
    font-size: 18px;
    margin-bottom: 10px;
}
.footer-2 a {
    text-decoration: underline;
}

/* Cart page */
.woocommerce-cart .woocommerce .large-7 {
    max-width: 100%;
    width: 100%;
    flex-basis: 100%;
}
.woocommerce-cart .cart-collaterals {
    margin-left: auto;
    max-width: 500px;
}
.woocommerce-cart .cart-sidebar {
    background-color: #fff;
    box-shadow: none;
    padding: 0;
}
.woocommerce-cart .woocommerce-shipping-totals {
    display: none;
}
.woocommerce-cart .cart_totals thead {
    display: none;
}
.woocommerce-cart .woocommerce-cart-form th {
    font-size: 22px;
    text-transform: inherit;
    border-width: 1px;
}
.woocommerce-cart .woocommerce-cart-form td.product-name {
    font-size: 18px;
    text-transform: uppercase;
    color: #000;
}
.woocommerce-cart .woocommerce-cart-form td .amount {
    font-size: 18px;
}
.woocommerce-cart .woocommerce-cart-form .qty {
    font-size: 18px;
    border-left: 0;
    border-right: 0;
    box-shadow: none;
}
.woocommerce-cart .woocommerce-cart-form .minus, .woocommerce-cart .woocommerce-cart-form .plus {
    background-color: #fff;
    font-size: 18px;
    color: #000;
    font-weight: bold;
}
.woocommerce-cart .woocommerce-cart-form .minus {
    border-right: 0;
}
.woocommerce-cart .woocommerce-cart-form .plus {
    border-left: 0;
}
.woocommerce-cart .cart_totals table th {
    font-size: 18px;
    color: #000;
    font-weight: bold;
    text-transform: capitalize;
}
.woocommerce-cart .cart_totals table td {
    font-size: 22px;
    color: #000;
}
.woocommerce-cart .cart_totals .button, .woocommerce-checkout .button#place_order {
    background-color: #ffa401 !important;
    border: none;
    padding: 20px 5px;
}
.woocommerce-cart-form .shop_table.mobile {
    display: none;
}

/* Cart page order bump */
#order-bump-cart {
    margin-bottom: -30px;
}
.order-bump-cart-box {
    padding: 30px;
    background-color: rgba(0,0,0,0.02);
    box-shadow: 1px 1px 3px 0px rgba(0,0,0,0.2), 0 1px 0 rgba(0,0,0,0.07), inset 0 0 0 1px rgba(0,0,0,0.05);
    float: right;
    width: 400px;
    max-width: 100%;
    position: relative;
}
.order-bump-cart-box .discount {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 65px;
    line-height: 45px;
    font-size: 20px;
    height: 65px;
    font-weight: bold;
    color: #fff;
    background-color: red;
    border-radius: 50%;
    padding: 10px;
    z-index: 10;
}
.order-bump-cart-box .price, .order-bump-cart-box .add-to-cart {
    width: 50%;
    float: left;
    font-size: 22px;
}
.order-bump-cart-box .add-to-cart {
    text-align: right;
    margin-bottom: 20px;
    float: right;
}
.order-bump-cart-box .add-to-cart a {
    background-color: #ffa401;
    color: #fff;
    padding: 5px 20px;
    font-weight: bold;
    font-size: 22px;
}
.order-bump-cart-box .owl-prev, .order-bump-cart-box .owl-next {
    position: absolute;
    top: 120px;
    font-size: 42px !important;
    font-weight: bold !important;
}
.order-bump-cart-box .owl-prev {
    left: -20px;
}
.order-bump-cart-box .owl-next {
    right: -65px;
}
.order-bump-cart-box .read-more {
    color: #80c455;
    font-weight: bold;
}
.order-bump-cart-box .price-button-box {
    display: inline-block;
    width: 100%;
    z-index: 100;
    position: relative;
}
.order-bump-cart-box .regular-price .amount {
    text-decoration: line-through;
    font-size: 18px;
    color: #929292;
}
.order-bump-cart-box .sale-price .amount {
    font-size: 26px;
    line-height: 30px;
}

#footer a:hover {
    color: #000 !important;
}

@media screen and (max-width: 540px) {
    .woocommerce-checkout .add-additional-item {
        width: 100%;
        margin-left: 0;
        margin-top: 40px;
        font-size: 12px;
        padding: 5px;
    }
    .woocommerce-checkout .add-additional-item a {
        padding: 5px;
        margin-left: 10px;
    }
    .woocommerce-checkout th {
        display: none;
    }
    .woocommerce-checkout > table td {
        display: block;
        width: 99%;
        clear: both;
        padding-right: 0;
    }
    .woocommerce-checkout .total-text-mobile {
        font-weight: bold;
        color: #000;
        display: inline-block;
        float: left;
    }
    .woocommerce-checkout .total-text-mobile.quantity-mobile {
        padding-top: 15px;
    }
    .woocommerce-checkout .product-name .cqoc_product_name {
        display: block;
        text-align: left;
        font-size: 13px;
        color: #000;
    }
    .woocommerce-checkout .remove {
		/*
        display: inline-block;
        position: absolute;
        right: 10px;
        border: none;
        color: red;
        font-size: 20px !important;
		*/
    }
    .woocommerce-checkout .cart_item .quantity {
        float: right;
        margin-top: 10px;
        margin-right: 0;
    }
    .wfob_price {
        text-align: right;
    }
    .single-product .offer-bottom .col-1 {
        width: calc(40% - 40px);
    }
    .single-product .offer-bottom .col-2 {
        width: calc(60% - 30px);
    }
    .single-product .offer-bottom .col-3 {
        width: 60px;
    }
    .single-product .offer-bottom .regular-price .amount {
        font-size: 14px;
    }
    .single-product .offer-bottom .sale-price .amount {
        font-size: 18px;
    }
    .single-product .offer-bottom button {
        font-size: 14px;
        padding: 0 5px;
        margin-top: 7px;
    }
}

@media screen and (max-width: 450px) {
    .kolicina-buttons #izbira1 .mega-value {
        font-size: 10px;
    }
    .wc-sticky-product-bar .button {
        font-size: 12px;
        right: 65px !important;
    }
    .wc-sticky-product-bar .name {
        display: none !important;
    }
    .wc-sticky-product-bar .button a.action-button {
        margin: 0;
    }
    .wc-sticky-product-bar .image, .wc-sticky-product-bar.variable .price {
        display: none;
    }
    .wc-sticky-product-bar .button {
        left: 10px;
        right: auto !important;
    }

    body.single-product .product-page-price span.amount, body.single-product .product-page-price .brezplacna-postnina {
        font-size: 14px;
    }
    body.single-product .product-page-price span.amount {
        font-size: 26px;
    }
    body.single-product .product-page-price del span.amount {
        font-size: 14px;
    }
    .checkout .custom-quantity {
        display: none;
    }
    .currently-viewing-product {
        font-size: 13px !important;
    }
    .single-product .cart .single_add_to_cart_button {
        padding-left: 45px;
    }
    .after-addtocart {
        max-width: 100%;
        margin: 0 10px;
    }
    .after-addtocart .col {
        padding: 0 5px;
    }
    .after-addtocart span {
        font-size: 10px;
    }
    .after-addtocart img {
        width: 50px;
    }
    .product-tabs li {
        width: 33% !important;
    }
    .footer-badges .col {
        width: initial;
    }
    .footer-2 {
        text-align: center;
    }
    .footer-2 #text-15 {
        order: 2;
    }
    .footer-2 #block_widget-1 {
        order: 1;
    }
    .footer-2 #text-16 {
        order: 3;
    }
    .footer-2 .phone {
        font-weight: bold;
    }

    .woocommerce-cart-form .shop_table.mobile {
        display: table;
    }
    .woocommerce-cart-form .shop_table.desktop {
        display: none;
    }
    .woocommerce-cart-form .shop_table.mobile .thumb {
        text-align: center;
    }
    .woocommerce-cart-form .shop_table.mobile .thumb img {
        max-width: 100px;
    }
    .woocommerce-cart-form .shop_table.mobile .title, .woocommerce-cart-form .shop_table.mobile .desc {
        font-size: 16px;
        color: #000;
    }
    .woocommerce-cart-form .shop_table.mobile .title {
        font-weight: bold;
    }
    .woocommerce-cart-form .shop_table.mobile .desc {
        text-transform: uppercase;
    }
    form.checkout .display-comments-box span, form.checkout #ship-to-different-address span {
        font-size: 12px;
    }
    .woocommerce-checkout .wfob_price_container {
        margin-top: -20px !important;
    }
    .cart-box.no-border {
        margin-left: -15px;
        margin-right: -15px;
    }
}

